@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:wght@1;100;200;300;400;500;600;700;800;900;1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sofia Sans Condensed', sans-serif;
}

html {
    background: #3D5A6C;
}

.logo {
    border-radius: 100%;
    width: 250px;
    display: inline-block;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 25px;
}

nav li {
    display: inline-block;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 28px;
    text-decoration: none;
}

nav a:hover{
    font-size: 30px;
    color: #EDCF8E;
}

section {
    border: 1px solid #000000;
    width: 100%;
    margin-bottom: 5px;
    margin-bottom: 300px;
    background: #86DEB7;
}

h1 {
    display: block;
    margin: 0 auto;
    font-weight: 800;
    font-size: 30px;
    text-align: center;
}

section li {
    display: inline-block;
    margin: 0 auto;
    text-align: center;
}

section li a {
    display: block;
    position: relative;
    margin: 0 auto;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

footer {
    border: 1px solid #000000;
    background: #86DEB7;
    font-size: 18px;
    text-align: center;
}

@media screen and (max-width: 900px) {

    header {
        height: 35vh;
    }

    .logo {
        display: block;
        position: relative;
        margin: 0 auto;
    }

    nav {
        margin-bottom: 15px;
    }

    nav a {
        display: block;
        position: relative;
        margin: 0 auto;
        font-size: 15px;
        top: 150px;
    }

    nav a:hover {
        font-size: 18px;
    }

    section li {
        text-align: center;
        font-size: 15px;
    }

    section img{
        display: inline;
        position: relative;
        margin: 0 auto;
        align-items: center;
    }
}